<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/homepage.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="left-actions">
            <h1>Olá, <span id="username">Usuário</span></h1>
            <button id="create-password">Criar Senha</button>
            <button id="insert-password">Inserir Senha</button>
        </div>
        <div class="right-actions">
            <button id="logout">Sair</button>
        </div>
    </header>
</body>
</html>